@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Montez&family=Montserrat:wght@300&family=Pacifico&family=Poppins:wght@200&display=swap');

.form-page{
    min-height:100vh;
    width:100vw;
    background-color: #F0F1F1;
}
.upper-form-page{
    padding: 60px;
  display: grid;
  place-items: center;

  
}

h1{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 80px;
    margin: 0;
}
.form-container{

    height: 70vh;
    padding:70px;
    background-color: white;
    width: 80%;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
}
.upper-form{
display: flex;
place-items: center;

}
.gender-girl{
    height: 15vh;
    width: 15vh;
    padding: 40px;
    display: grid;
    place-items: center;
    
}
.gender-girl>svg:hover{
    fill: #B0DFF0   ;
}
.lower-form{
    width:100%;
    display: flex;
    justify-content: end;
}
.next-button{
    height:15vh;
    width: 15vw;
    border-radius: 40px;
    background-color: #90E1EC;
    display: grid;
    place-items: center;
    box-shadow: 0px 0px 12px -1px #90E1EC;
}
