@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Montez&family=Montserrat:wght@300&family=Pacifico&family=Poppins:wght@200&display=swap');

.body-page-p{
    height:100vh;
    width: 100vw;
    background-color: #F0F1F1;
}
.upper-body-page{
    padding: 40px;
    display: grid;
  place-items: center;
}

.main-container{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
h1{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 80px;
    margin: 0;
}
.choices-container{
    background-color: white;
    border-radius: 50px;
    height: 55vh;
    width: 55vw;
    padding: 60px;
    display: flex;
    flex-direction: column;
}
.choices{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    overflow-y: scroll;
}
.choice-item{
    padding:20px;
    width: fit-content;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    background-color: #6CA9D4;
    color:white;
  
  }
  .lower-body-page{
      margin-top: 80px;
    width:100%;
    display: flex;
    justify-content: end;
}
.next-button{
    height:10vh;
    width: 10vw;
    border-radius: 40px;
    background-color: #90E1EC;
    display: grid;
    place-items: center;
    box-shadow: 0px 0px 12px -1px #90E1EC;
}